.counter {
  width: 300px;
  border: solid 5px black;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  padding: 20px;
  background-color: lightcyan;
  position: relative;
}
/* .values {
  display: flex;
}

.value {
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
}

.btn {
  min-width: 40px;
  height: 40px;
  font-size: 30px;
}
.controls {
  display: flex;
  justify-content: space-evenly;
} */

.dropmenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 291px;
  padding: 20px;
  background-color: teal;
  border: solid 5px black;
  text-align: center;
  color: white;
}

.traktorist {
  text-align: center;
}
